node_modules/
.next/
out/
build/

.env
.env.local
.env*.local

.DS_Store
*.pem

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
next-env.d.ts
*.tsbuildinfo

public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
public/worker-*.js.map
public/swe-worker-*.js
public/swe-worker-*.js.map
public/fallback-*.js

coverage/

supabase/.temp/
